<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/masterLayout :: layout(~{:: main})">

<body>
<main role="main">
    <div class="container">
        <h3>CheckOut</h3>
        <div th:if="${transfererror}" class="alert alert-danger" role="alert">
            <p>Transfer Error!</p>
        </div>
        <p class="lead">In Order to purchase the items in your shopping cart ,
            please provide us with the following information:</p>
        <div class="row">
            <div class="col">
                <a th:href="@{/ui/transfer}" class="btn btn-primary my-5">Pay</a>
                <a th:href="@{/ui/transport}" class="btn btn-primary my-5">Transport</a>
            </div>
            <div class="col">
                <ul>
                    <li>Next-day delivery is guaranteed </li>
                    <li>A $3.00 delivery surcharge is applied to all purchase order</li>
                </ul>
                <div id="charge-info">
                    <div class="row">
                    <div class="col-md-6">Subtotal:</div>
                    <div class="col-md-6"> <span th:text="${'$'+ total}"></span> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Delivery Charge:</div>
                        <div class="col-md-6">$3.00</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total</div>
                        <div class="col-md-6"><span th:text="${'$'+ (total + 3)}"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>